@import url(user.login.base.css);
html,body{min-height:100%}
.content{width:350px;position:absolute;top:15%;left:50%;margin-left:-175px;padding-bottom:150px}
.logo{height:59px;text-align:center;margin-bottom:24px}
.content-con{padding:40px 46px;background-color:#fff;box-shadow:0 2px 2px rgba(200,200,200,.7);border-radius:3px 3px 0 0}
.title{padding-left:18px;color:#adadad;font-size:22px;font-weight:lighter;margin-bottom:36px}
.title em{display:inline-block;font-family:"黑体";font-weight:900;color:#f90d1b;padding-right:16px;font-size:24px}
.content-con form{width:100%}
.content-con .text{width:228px;height:20px;padding:10px 14px;margin-bottom:15px;border:1px solid #e2e7eb;background-color:#f9fafb;border-radius:2px;font-size:14px}
.content-con .text:focus{border-color:#5e9ed7;box-shadow:0 0 3px #5e9ed7}
.content-con .other{width:100%;color:#999}
.content-con .other a{color:#999}
.btn{width:100%;height:42px;line-height:42px;font-size:16px;color:#fff;background-color:#f90d1b;border:none;margin-top:22px;cursor:pointer;border-radius:2px}
.regist{display:block;margin-top:2px;text-align:center;background-color:#7c6b44;box-shadow:0 2px 2px rgba(200,200,200,.7);border-radius:0 0 2px 2px}
.regist:hover{color:#fff}