<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cppfoto.mapper.CategoryMapper">
    <select id="select" resultType="cn.tedu.cppfoto.entity.Category">
        select `id`,`name` from category
        <where>
            <if test="directory!=null">
               and directory=#{directory}
            </if>
        </where>
    </select>
</mapper>