<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cppfoto.mapper.VideoMapper">
    <select id="select" resultType="cn.tedu.cppfoto.entity.Video">
        select v.id,v.title,i.imgurl,v.content,v.pay,v.categoryId from video v join images i on v.id=i.videoId
        <where>
            <if test="categoryId!=null">
               and v.categoryId=#{categoryId}
            </if>
            <if test="id!=null">
               and v.id=#{id}
            </if>
        </where>
    </select>
</mapper>